# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
dist/
build/
*.exe

# Virtual environments
venv/
env/
.venv/

# User data
settings.json
*.json

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
